body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.header {
    /* background: linear-gradient(to bottom, #000000, #f5f5f5);  */
    background-color: #f5f5f5;
    color: black;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
.header h1 {
    font-size: 2em;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}
  
.logo {
    height: 80px;
    width: auto;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 0;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.section {
    margin-bottom: 40px;
}
.section h2 {
    font-size: 2em;
    color: #343a40;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
.section p {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.authors {
    margin-bottom: 20px;
    font-size: 1.1em;
}
.links a {
    display: inline-block;
    margin-right: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 1.1em;
}
.links a:hover {
    text-decoration: underline;
}
.results img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
.video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
}
footer a {
    color: #61dafb;
    text-decoration: none;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

figure img {
    max-width: 100%;
    border-radius: 8px;
}

figure figcaption {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}


.authors-text {
    font-size: 1.2em; /* Adjust this value for smaller or larger text */
    color: black;
    margin-top: 10px;
    text-align: center;
}

.institute-text {
    font-size: 1em; /* Adjust this value for smaller or larger text */
    color: black;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-image {
    display: inline-block;
    margin: 0 10px;
    height: 40px; /* Adjust the size of the buttons */
    display: block;
    width: auto;

}

.method-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between columns */
}

.method-column {
    flex: 1; /* Adjusts to fill the available space */
    min-width: 300px; /* Minimum width for each column */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.method-column h3 {
    margin-top: 0;
}

.acceptance-text {
    font-size: 1.2em; /* Adjust the font size as needed */
    color: #514d4d; /* Adjust the color if needed */
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
}

/* Collapsible content */
.collapsible-content {
    display: none; /* Hidden by default */
}

/* Style for the collapse button */
.collapse-button {
    background-color: white;
    color: gray;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 4px;
}

.collapse-button:focus {
    outline: none;
}

/* Optional style when content is visible */
.collapsible-content.visible {
    display: block;
}

/* Button arrow for collapsed state */
.collapsible-content:not(.visible) + .collapse-button::after {
    content: "▼"; /* Down arrow */
}

/* Button arrow for visible state */
.collapsible-content.visible + .collapse-button::after {
    content: "▲"; /* Up arrow */
}

.citeus {
    background-color: #f4f4f9;
    border: 1px solid #ddd;
    /* padding-top: 10px; */
    padding-left: 20px;
    /* padding-bottom: 0%; */
    border-radius: 8px;
    /* margin-top: 20px; */
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 600px; */
    position: relative
}

.copy-btn {
    background-color: #f4f4f9;
    color: black;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* Optional margin to give space from edges */

}

.copy-btn:hover {
    background-color: #c2c2c3;
}

#copy-status {
    /* margin-left: 10px; */
    padding: 5px 10px;
    font-size: 1em;
    color: rgb(102, 105, 102);
    position: absolute;
    top: 40px;
    right: 0;
}
